.App {
  text-align: center;
}

.app-content {
  background-color: #FFFFFF;
  color: #282c34;
}

.box-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.box-logo img {
  width: 300px;
  padding: 1rem;
}
